@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');





$primary-color:#2dea8f;
$dark-primary-color:#24b273;
$highlight-color:#167a8b;
$dark-color:#243d44;
$white-color:#fff;
$font-family: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$font-medium:500;
$font-light:300;
$font-strong:800;

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 16px;
}

body {
    border-top: 3px solid $highlight-color;
}

h1 {
    color: $highlight-color;
}

h1::after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 10rem;
    /* Change this to whatever width you want. */
    padding-top: 20px;
    /* This creates some space between the element and the border. */
    border-bottom: 4px solid $highlight-color;
}

p {
    color: #6e6e6e;
}


.btn-custom {
    border: none;
    color: $dark-color;
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveUpAndDown2 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveUpAndDown3 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}


@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}


#page-header {
    nav {
        a {
            font-size: 1.2rem;
        }
        .my_drop_item {
            width: 17rem;
            color:$white-color;
            padding: 0.5rem 2rem;
        }
        .my_drop_item:hover{
            background: #3074e0;
        }

        .dropdown-menu{
            background: #0f55c5;
            border:none;
            border-radius: 0;
            padding:0;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; // remove the gap so it doesn't close
        }
    }
}

.page-vid {

    border-radius: 2rem;
}

#how_to_use {
    div {
        div {
            img:hover {
                animation: moveUpAndDown 3s infinite;
            }

            h5 {
                background: #0052D4;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                color: $white-color;
                max-width: 10rem;
                border-radius: 2px;
            }
        }
    }
}


.news_container {
    position: relative;
    border: 2px solid white;
    border-top-right-radius: 2rem;
    width: 22rem;
    height: 15rem;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-position: center;
    background-size: cover;

    h5 {
        display: none;
        height: 8rem;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: $white-color;
        background-image: url('./img/new-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
}

#benefit {
    .visual {
        img:hover {
            animation: moveUpAndDown2 3s infinite;
        }
    }

    .bf-content {
        padding: 5rem 0;

        div {
            flex: 1;
            flex-direction: column;

            div {
                padding: 1rem 2rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            h3 {
                background: #0052D4;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                width: 15rem;
                height: 6rem;
                border-radius: 2px;
                font-size: 1.3rem;
                font-weight: 400;

                strong {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }

            p {
                display: inline-block;
                color: $highlight-color;
                max-width: 20rem;
                font-size: 1.3rem;
                font-weight: 500;
                text-shadow: 0 1px 2px rgb(79, 112, 204);
            }

            img {
                max-width: 7rem;
            }
        }

        .bf-left-side {

            div {
                flex-direction: row;

                p {
                    direction: rtl;
                    margin-right: 1rem;
                }

                img:hover {
                    animation: moveLeft 0.5s;
                }
            }
        }

        .bf-right-side {

            div {
                flex-direction: row-reverse;
            }

            p {
                margin-left: 1rem;
            }

            img:hover {
                animation: moveRight 0.5s;
            }

        }
    }


}

#other_service {
    img:hover {
        animation: moveUpAndDown3 2s infinite;
    }

    .content {
        transition: 0.3s;

        h4 {
            color: $highlight-color;
        }
    }

    .content:hover {
        background-color: #5fd0e965;
    }
}

#contact {
    color: $white-color;

    .left_side {
        background: rgb(209, 71, 209);
        min-height: 10rem;

    }

    .right_side {
        background: rgb(110, 44, 110);
        min-height: 10rem;

        p {
            display: none;
        }

    }
}

footer {
    background-color: #2358bb;
    min-height: 20rem;
}

// news page 

.new_container {
    // h5 {
    //     color: $highlight-color;
    // }

    // .card-body {
        
    // }
    // :nth-child(3) {
    //     color: rgb(168, 168, 168);
    // }

    // :nth-child(4) {
    //     font-size: 1.2rem;
    // }

}

@media all and (min-width:760px) {
    .page-vid {
        width: 35rem;
        height: 20rem;
    }
}