@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');




$primary-color:#2dea8f;
$dark-primary-color:#24b273;
$highlight-color:#167a8b;
$dark-color:#243d44;
$white-color:#fff;
$font-family: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$font-medium:500;
$font-light:300;
$font-strong:800;

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 16px;
}

body {
    border-top: 3px solid $highlight-color;
}


.btn-custom {
    border: none;
    color: $dark-color;
}

@keyframes moveUpAndDown {
    0%   {transform:translateY(0%);}
    50% {transform:translateY(3%);}
    100% {transform:translateY(0%);}
}
#how_to_use {
    div {
        div{
            img:hover{
                animation: moveUpAndDown 3s infinite;
            }
        }
    }
}


.news_container {
    position: relative;
    border: 2px solid white;
    border-top-right-radius: 2rem;
    width:22rem;
    height:15rem;
    background-color: greenyellow;
    background-position: center;
    background-size: cover;
    h5 {
        display:none;
        height: 8rem;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: $white-color;
        background-image: url('./img/new-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
}